* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

.container-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 174px;
}



.btn-purple, .btn-white {
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    gap: 0.8rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    font-size: 13.18px;
    font-weight: 500;
}

.btn-purple, .btn-submit {
    background: #8B48BF;
    color: rgba(255, 255, 255, 1);
}

.btn-purple:hover, .btn-submit:hover {
    background-color: #8B48BFB2;
    cursor: pointer;
}

.btn-submit a {
    color: #FFFFFF;
    text-decoration: none;
}

.btn-white {
    color: rgba(139, 72, 191, 1);
    background-color: rgba(255, 255, 255, 1);
}

.btn-white::after {
    content: '🥎';
    padding: 0 0 0 5px;
}

.btn-white:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(139, 72, 191, 1);
    cursor: pointer;
}

.container-nav {
    display: flex;
    gap: 1.75rem;
}

li {
    list-style: none;
}

.container-nav li a {
    text-decoration: none; 
    color: #242E52;
    font-size: 13px;
}

.container-nav li a:hover {
    color: rgba(36, 46, 82, 0.6);
}

.container-home {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5.4rem auto;
    flex-wrap: nowrap;
    width: 85%;
}

.img-home {
    width: auto;
}

.data-home {
    height: 399px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.data-home h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 57.3px;
    text-align: right;
    letter-spacing: -2px;
}

.data-home p {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 26.01px;
    text-align: right;
}

.frame-purple, .frame-purple2 {
    background-color: #8B48BF;
    display: flex;
    color: #FFFFFF;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.frame-purple {
    height: 168px;
}

.frame-purple2 {
    /* height: 224px; */
    padding: 2rem;
    height: 16rem;
}

.frame-purple h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41.26px;
    width: 450px;
}

.frame-purple2 h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47.84px;
    letter-spacing: -0.5px;
    width: 500px;
}

.frame-purple2 div {
    width: 35%;
    text-align: right;
}

.frame-purple p {
    font-weight: 500;
    width: 450px;
    line-height: 24.18px;
}

.container-numbered {
    background-color: #FAFAFA;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.container-numbered article {
    width: 520px;
    height: 162px;
    transition: all ease .7s;
}

.container-numbered article:hover {
    transform: scale(1.1);
    cursor: url('../img/zoom.png'), auto;
    /* cursor: zoom-in; */
}

.container-numbered article div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}

.container-numbered article div button {
    border-radius: 30px;
    height: 43px;
    padding: 10px, 25px, 10px, 25px;
    border: none;
    background-color: #8B48BF;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 23.38px;
    width: 69px;
}

.container-numbered article div h4, .data-card h4{
    font-weight: 700;
    line-height: 23.38px;
    letter-spacing: -1px;
    color: #323851;
}

.container-numbered article p, .data-card p {
    color: #B3B2B7;
    font-weight: 500;
    line-height: 25.52px;
}

.container-numbered article p {
    margin: 0 0 0 5.3rem;
}

.data-card p {
    text-align: center;
}

.container-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 7rem;
}

.container-players h3 {
    color: #242E53;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 61.41px;
    text-align: center;
}

.container-cards {
    display: flex;
    justify-content: center;
    margin: 3rem 2rem;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    position: relative;
    padding: 3rem 0 0;
    /* transition: all ease .7s; */
}

.card img {
    transition: all 1s ease-in-out;
}

.card:hover img {
    transform: rotateY(360deg);
}

.card img {
    position: absolute;
    top: 1.2rem;
    left: 9.5rem;
}

.data-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem 1rem;
    background-color: #FAFAFA;
}

.container-footer {
    background-color: #1E1E26;
    color: #FFFFFF;
    padding: 2rem;
}

.container-footer section {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
}

.container-footer p {
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    line-height: 18.26px;
    text-align: right;
    margin-right: 7.5%;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    width: 20rem;

}

.nav-footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 33px;
}

.container-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 133px;
    padding: .4rem 0;
    width: 12%;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icons li a img {
    width: 20px;
}

fieldset {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    border: none;
}

.email-input {
    width: 208px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: #A0A0A0;
}

.btn-submit {
    width: 63px;
    height: 42px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    gap: 0.8rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    font-size: 13.18px;
    font-weight: 500;
}

.email-input:focus-visible {
    outline: none;
}

.icon-menu {
    display: none;
}

.hide-elements {
    display: block;
}

.container-footer p::before {
    content: '© ';
    font-size: 14px;
}

.logo {
    width: 6.7rem;
    height: 1.5rem;
    animation: rotate 0.8s alternate 2 ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);;
    }
}

@media screen and (max-width: 1024px) {

    .container-header {
        justify-content: space-around;
    }

    .container-nav {
        gap: .75rem;
    }

    .container-home {
        flex-wrap: wrap;
        gap: 5rem;
    }

    .img-home {
        width: 75%;
    }

    .frame-purple {
        height: auto;
        padding: 4rem 3rem 4rem 1rem;
        gap: 4rem;
    }

    .frame-purple2 {
        height: auto;
        text-align: center;
        padding: 2rem 6rem;
    }

    .frame-purple2 div {
        text-align: left;
        width: auto;
    }

    .container-footer {
        padding: 2rem 0;
    }

    .container-footer section {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0rem;
    }

    .container-footer p {
        text-align: center;
        margin-right: 0;
    }

    .container-icons {
        width: 50%;
        align-items: center;

    }
    
    .email-input {
        width: 280px;
    }
    
}

@media screen and (max-width: 480px) {

    .container-header {
        height: 140px;
    }

    .icon-menu {
        display: block;
        width: 45px;
    }

    .container-home {
        margin: 2rem 1rem;
        width: 88%;
    }

    .img-home {
        width: 98%;
    }

    .data-home {
        height: auto;
        gap: 1.5rem;
    }

    .hide-elements {
        display: none;
    }

    .frame-purple, .frame-purple2 {
        background-color: #3CDDF3;
    }

    .btn-white {
        background-color: #232C50;
        color: #FFFFFF;
    }

    .container-numbered {
        background-color: #FFFFFF;
        padding: 3rem 0rem 3rem 1.5rem;
    }
    
    .container-numbered article div {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #8B48BF4D;
        margin-bottom: 1.5rem;
    }

    .container-numbered article p {
        margin: 0 1rem;
    }

    .container-icons {
        width: 75%;
        height: 100px;
        flex-direction: column-reverse;
    }

    fieldset {
        gap: 5px;
    }
}