* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

.container-header{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.header-top {
    display: flex;
    justify-content: space-around;
}

.header-bottom {
    display: flex;
}

.logo {
    width: 9rem;
    height: 2.2rem;
}

.contact {
    background: rgba(139, 72, 191, 1);
    width: 8.3rem;
    height: 2.7rem;
    padding: 0.8rem;
    border-radius: 3.1rem;
    gap: 0.8rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
}

.contact-footer {
    background: rgba(139, 72, 191, 1);
    width: 4rem;
    height: 2.7rem;
    padding: 0.8rem;
    border-radius: 3.1rem;
    gap: 0.8rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
}

.header-nav {
    display: flex;
    gap: 1.75rem;
}

.header-nav a {
    text-decoration: none; 
    color: inherit;
    font-size: 13px;
}

.header-nav li {
    list-style: none;
}

.footer-nav {
    display: flex;
}

.footer-nav a{
    text-decoration: none; 
    color: inherit;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
}

.footer-nav li {
    list-style: none;
}

.header-bottom {
    display: flex;
}

.container-h1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-self: flex-end;
}

.container-h1 p {
    font-size: 1.1rem;
    font-weight: 500;
}

h1 {
    font-weight: 700;
    font-size: 3.1rem;
}

.section-violet {
    background-color: rgba(139, 72, 191, 1);
    height: 10.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 4rem;
}

.section-violet-2 {
    background-color: rgba(139, 72, 191, 1);
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 4rem;
}

.section-violet p {
    display: flex;
    text-align: left;
    width: 28rem;
    color: rgba(255, 255, 255, 1);
}

.section-violet a {
    text-align: justify;
}

.section-violet h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2.2rem;
}

.section-violet-2 h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 3rem;
    text-align: justify;
}

.container-article {
    display: flex;
    height: 26rem;
    padding: 2.5rem;
}

.main-article {
    display: flex;
    
}

.main-article:nth-child(2) {
    align-self: center;
}

.main-article:nth-child(1) {
    padding-left: 4rem;
}

.main-article:nth-child(3) {
    padding-right: 4rem;
}

.number-article {
    background: rgba(139, 72, 191, 1);
    width: 15rem;
    height: 2.2rem;
    border-radius: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(255, 255, 255, 1);
}

.container-h3 {
    font-size:2.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 27.8rem;
    height: 16rem;
}

.container-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.button-go {
    width: 8.4rem;
    height: 2,75rem;
    padding: 0.8rem;
    border-radius: 3.1rem;
    color: rgba(139, 72, 191, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.container-top-footer, .container-bot-footer {
    background-color: rgba(30, 30, 38, 1);
}

.container-top-footer {
    display: flex;
    justify-content: space-around;
    height: 15.6rem;
    align-items: center;
}


.top-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem;
    height: 10rem;
}

.container-icon {
    display: flex;
    gap: 1rem;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 10rem;
}

.footer-nav {
    flex-direction: column;
    justify-content: center;
}

.container-bot-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
    height: 8rem;
}

.email {
    background: rgba(255, 255, 255, 1);
    width: 15.6rem;
    height: 3rem;
    border-radius: 50px;
    gap: 10px;
}

.rights {
    color: rgba(140, 140, 148, 1);
    font-size: 1.2rem;
}